*{
    margin:0;
    padding:0;
}
 
 
.contentor{
    display: flex;
    border: 2px solid blue;
    width: 100%;
    height: 100vh;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
 
.item{
    width: 20%;
    height: 150px;
    border: 1px solid black;
    display: flex;
   
    justify-content: center;
    align-items: center;
 
}
 
 
.hero{
    display:flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
    border: 1px solid blue;
    
}
 
.left{
    width:50%;
    background-color: blueviolet;
   
    
}
 
.right{
    width:50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:5%;
    
   
}

@media (max-width:768px){
    h1{
        font-size: 32px;
    }
    
    h2{
        font-size: 20px;
    }
    
    p{
        font-size: 14px;
    }
 
    .contentor{
        display: flex;
        flex-direction: column;
       
    }
    .hero{
        display:flex;
        flex-direction: column;
        
        
    }
    .left{
        width:100%;
        background-color: blueviolet;
        height: 50%;
    }
 
    .right{
        width: 100%;
        height: 50%;
    }
 
 
    .item{
        width: 300px;
       
    
    }
}