.contentor{
   
    padding:20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
 
.cartao{
    box-shadow: 10px 10px 20px rgba(0,0,0,0.23);
    
    border-radius: 15px;
    padding: 10px;
    width: 200px;
    background: antiquewhite;
    transition: background 2s;
}
 
.cartao:hover{
    background: blueviolet
}
 
.btn{
    background: goldenrod;
    width: 300px;
    cursor:pointer;
    transition: transform 1s, background 2s;
 
}
 
.btn:hover{
   transform:scale(1.1);
   background: red;
}
 
.img{
    width: 100px;
    border-radius: 50%;
    border: 2px solid black;
    transition: transform 0.3s;;
}
 
.img:hover{
    transform: scale(1.1)
}