.pai{
    display: flex;
    border: 1px solid black;
    height: 80vh;
    
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
 
 
.tio{
    display: flex;
    width: 90%;
    border: 1px solid black;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
    
 
 
.filhos{
    border: 1px solid red;
    width: 20%;
    margin:10px;
    height: 200px;
 
}
 
.titulo{
    border: 1px solid blue;
    width: 90%;
    
}
 
.rodape{
    border: 1px solid green;
    width: 90%;
    height: 100px;
 
 
}
 
p{
    width: 85%;
    padding-left:10%;
    text-align: center;
}
 
 
@media (max-width:768px){
    .tio{
       
        
        flex-direction: column;
        
    }
    .filhos{
        
        width: 50vw;
        margin:10px;
        height: 200px;
    
    }
}