.caixa{
   margin-left: 10%
}
 
 
a{
    padding: 20px;
    margin:20px;
    background-color: blue;
    color: white;
    border-width: 2px;
    border-style: solid;
    border-color: red;
    border-radius: 10%;
    
}
 
div{
    display: inline-block;
    margin-top: 40px;
}
 
/* display none: ela desaparece mas pode aparecer*/
/* visibility: hidden guarda o espaço para quando fazemos display none*/
/*display grid: tabela*/
/*vw e vh é a largura e a altura do ecra que estamos a trabalhar*/
/*no css height: 100vh, 100vw backgroud image */

.caixa2{
    box-sizing: border-box;
    width: 200px;
    padding: 20px;
    border: 5px solid blue;
    overflow: hidden;
    margin:0 auto;
}